<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Cultura_Leiria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand h1 nb-0 " asp-controller="Home" asp-action="Index">E_Cultura_Leiria </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse " id="navbarSite">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#"> Eventos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#"> Patrimonio Cultural </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#"> Lugares a Visitar </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#"> Noticias </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop"> Rede Social </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Facebook</a>
                            <a class="dropdown-item" href="#">Intagram</a>
                            <a class="dropdown-item" href="#">Twitter</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="sobre"> Sobre Nos </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

   





    <div class="container">
        <main role="main" class="mt-5">
            @RenderBody()
        </main>
    </div>



    <footer class="py-5 bg-secondary w-100">
        <div class="container">
            <p class="m-0 text-center text-white small"> Copyright &copy; Your Website 2020</p>
        </div>
    </footer>



    <!-- Optional JavaScript-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
