

@{
    ViewData["Title"] = "Sobre Nos ";
}

<div>
    <h1 class="text-center"> Sobre Nos</h1>

</div>

<div>
    <h2 class="card-text"> <a class="nav-link">Quem Somos</a> </h2>
    <p class="text-justify">
        REDE CULTURA 2027 é uma plataforma onde podemos encontrar os agentes culturais de todo o território de leiria.  Num total de 26 municípios,
        aqueles que decidiram juntar-se para o título de Capital Europeia da Cultura em 2027, é agora possível saber quem somos, onde estamos e o que fazemos.
    </p>
</div>
<div>
    <h2 class="card-text"> <a class="nav-link" >O que fazemos</a> </h2>
    <p class="text-justify">
        Aqui sabemos o que está a acontecer e onde. Podemos agendar de nós, e saber dos outros.
        Pelos desejos podemos marcar uma viagem ou um fim de semana especial. Pelas temáticas podemos fazer um convite inesperado a um amigo.
        É aqui a nossa agenda.
    </p>
</div>

<div>
    <h2 class="card-text"> <a class="nav-link">Caminho</a> </h2>
    <p class="text-justify">
        O caminho ainda não está feito porque só agora começámos a andar, e o destino por enquanto é ainda só o encontro.
        Do que caminharmos juntos, e das conversas que tivermos, vão nascer desejos e vontades.
        Será com elas que vão nascer as pontes e as outras experiências
    </p>
</div>




